
@{
    ViewBag.Title = "AddView";
}

<h2>AddView</h2>



<form action="/Designacao/AddNew">
    <label> Descrição :&nbsp &nbsp &nbsp </label> <input type="text" name="Designacao.Descricao" /> <br />
    <input type="submit" value="Criar" />
</form>
