
@{
    ViewBag.Title = "Index";
}

<h2>Listas das designações</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <td><b>ID</b></td>
            <td><b>Descrição</b></td>

            <td> </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var lista in ViewBag.ListaDesgincao)
        {
            <tr>
                <td>@lista.DesignacaoID</td>
                <td>@lista.Descricao</td>
                <td><a href="/Designacao/Remover/@lista.DesignacaoID" >Remover</a>  </td>
            </tr>
        }


    </tbody>

</table>
@Html.RouteLink("Cadastrar Novas Designações", "AddView")

